{% extends 'two_column.html' %}
{% load static %} 
{% block title %} | Change Password {% endblock %}

{% block form %}
    <h1 class="text-4xl font-meduim">Welcome back!</h1>
    <p class="mt-4 mb-10">
      Enter your username and password to access your account
    </p>
    <form
      id="login_form"
      class="mb-10"
      method="post"
      action="{% url 'account_change_password'  %}"
    >
      {% csrf_token %}

      {% include 'components/password-input.html' with label="Current Password :" id="id_old_password" name="oldpassword"  placeholder="Current Password"%}
      {% include 'components/password-input.html' with label="New Password:" id="id_password1" name="password1"  placeholder="New Password"%}
      {% include 'components/password-input.html' with label="Confirm Password" id="id_password2" name="password2"  placeholder="Confirm New Password"%}

      {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %} {% if form.errors %}
      <div
        class="fixed top-5 right-10 bg-red-100 rounded-md p-5 z-10 border border-red-400 text-red-500"
      >
        {{ form.non_field_errors }}
      </div>
      {% endif %}

      <a class="forgot-password" href="{% url 'account_reset_password' %}">Forgot Your password?</a>
      <div class="flex gap-3 items-center mt-7">
        
        <button
        class="bg-primery/70 hover:bg-primery  text-white w-full p-3 rounded-md text-xl"
        type="submit"
      >
        login
      </button>
      <a class="bg-input/70 hover:bg-input rounded-md py-3 px-5 block text-xl " href="/">Cancele</a>
      </div>
      
    </form>


{% endblock %}
{% block img %}
{% static 'imgs/lock.svg' %}
{% endblock %}