
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Verify Email {% endblock %}


{% block content %}
{% include 'components/header.html' with header_class="w-full !h-[60px]" class="container h-full px-5 lg:px-10 mx-auto" %}
<div class="container relative flex flex-col justify-center items-center flex-1 px-10 mx-auto">
    <img
    class="w-[300px]"
    src="{% static 'imgs/Safe-bro.svg' %}"
  />
    <h3 class="text-4xl text-center ">Change Password </h3>
    <p class="text-xl text-center mt-3">Your password is now changed.</p>
    <a class="px-6 py-3 text-xl text-white font-meduim mt-6 rounded-[30px] bg-orange-400 hover:bg-orange-500" href="{% url 'account_login' %}" >Login</a>
</div>

{% endblock %}