
<div class="mb-7 relative ">
    <label class="mb-2 block" for="#{{id|default:'id_password'}}" >
        {{label|default:"Password"}}
        <em>*</em>
    </label>
    <div class="flex items-center focus-within:ring-4 rounded-md bg-input">
    <input id="{{id|default:'id_password'}}" class="block outline-none bg-transparent flex-1 p-3 " type="password" name="{{name|default:'password'}}" placeholder="{{placeholder|default:'password'}}">
    <i onclick="showPassword(this)" class="mx-1 min-w-[40px] cursor-pointer aspect-square rounded-full flex justify-center  items-center active:bg-gray-200 fa-regular fa-eye"></i>
</div>
</div>